@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.back-link__text {
  margin-left: 25px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.container {
  width: 1380px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.first-screen {
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  background: #fff;
  padding: 20px 0;
  width: 100vw;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  border: none;
  background: transparent;
  padding-left: 96px;
}

.header__phone {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.main {
  height: calc(100vh - 79px);
  background: url(../img/bg1.png) no-repeat top/cover;
}

.section__main {
  margin-top: 79px;
}

.main__subtitle {
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  color: #7A0923;
  max-width: 40%;
}

.main__title {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 48px;
  text-transform: uppercase;
  color: #000000;
}

.main-btn {
  max-width: 484px;
  padding: 45px 38px;
  background: #7A0923;
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
}

.title--center {
  text-align: center;
  margin: auto;
  padding-bottom: 45px;
}

.text {
  font-weight: 400;
  font-size: 24px;
}

.about__text {
  max-width: 75%;
}

.section {
  padding-top: 60px;
  padding-bottom: 120px;
}

.section__cases {
  margin-top: 60px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cases__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.case {
  width: 49%;
}

.cases__case {
  margin-bottom: 60px;
}

.case__img-block {
  width: 100%;
  position: relative;
}

.case__img {
  width: 100%;
}

.case__title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  font-weight: 600;
  font-size: 24px;
}

.case__link {
  margin-top: 30px;
  display: block;
}

.case__text {
  margin-top: 30px;
}

.text--small {
  font-size: 18px;
}

.font--roboto {
  font-family: 'Roboto', sans-serif;
  color: inherit;
}

.more-btn__text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  margin-right: 27px;
}

.more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.service__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #000;
}

.service {
  position: relative;
  height: 333px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #000;
  padding: 0 42px;
}

.service--long {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__link {
  display: block;
  max-width: inherit;
  position: absolute;
  bottom: 71px;
}

.service__text {
  font-weight: 600;
  max-width: 80%;
  font-size: 28px;
  margin-bottom: 71px;
  text-transform: uppercase;
}

.service__text--long {
  max-width: 100%;
}

.text--center {
  margin: auto;
}

.steps__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.steps__imgs {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step__img:not(:last-child) {
  margin-bottom: 40px;
}

.step__img--left {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.step__img--right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.steps__text-wrap {
  width: 40%;
  margin-left: 60px;
}

.title--red {
  color: #7A0923;
}

.step__title {
  margin-bottom: 21px;
}

.steps__step:not(:last-child) {
  margin-bottom: 39px;
}

.steps__desc {
  margin-top: 60px;
}

.swiper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workers__card {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 25px 50px 25px;
  height: inherit;
}

.workers__img {
  width: 100%;
}

.workers__title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 25px;
}

.workers__subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-top: 5px;
}

.workers__desc {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
}

.swiper-button-next, .swiper-button-prev {
  color: #000000;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper {
  margin-right: 20px;
  margin-left: 20px;
  width: 90%;
}

.slider__btn--left {
  background: transparent;
  font-size: 40px;
  height: auto;
  display: block;
}

.slider__btn--right {
  background: transparent;
  font-size: 40px;
  height: auto;
  display: block;
}

.video__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video {
  width: 70%;
}

.video__desc {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
}

.testimonial__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quote {
  margin-top: -10px;
  margin-right: 60px;
  font-weight: 600;
  font-size: 144px;
  line-height: 100%;
  text-transform: uppercase;
}

.testimonial__text {
  max-width: 80%;
}

.text--big {
  font-size: 28px;
}

.swiper-pagination {
  margin-top: 60px;
}

.form-section {
  background: #7A0923;
}

.title--white {
  color: #FFFFFF;
}

.form {
  width: 80%;
  margin: auto;
}

.form__input {
  border: none;
  background: transparent;
  border-bottom: 4px solid #fff;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  padding: 11px 15px;
}

.form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__input--name {
  width: 48%;
  display: block;
}

.form__input--tel, .form__input--email {
  margin-top: 60px;
  width: 48%;
  display: inline-block;
}

.form__input--email {
  margin-left: 3%;
}

.form__input--desc {
  margin-bottom: 170px;
  margin-top: 60px;
  display: block;
  width: 100%;
}

.form__text-area {
  resize: none;
}

.form__btn {
  padding: 37px 86px;
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  color: #000000;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__lists-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list:not(:last-child) {
  margin-right: 114px;
}

.footer__list-title {
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 24px !important;
  margin-bottom: 25px !important;
}

.footer__item {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
}

.footer__icon:not(:last-child) {
  margin-right: 15px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 12;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.modal--open {
  opacity: 1 !important;
  visibility: visible !important;
}

.close-btn {
  background: transparent;
  border: none;
}

.modal__close-btn {
  position: absolute;
  right: 40px;
  top: 40px;
}

.modal__container {
  border-radius: 10px;
  width: 1100px;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.form__input--black {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.form__input--black::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.9);
}

.form__input--black:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.9);
}

.form__input--black::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.9);
}

.form__input--black::placeholder {
  color: rgba(0, 0, 0, 0.9);
}

.form__input--black {
  font-size: 18px;
}

.modal__title {
  font-size: 28px;
}

.modal__btn {
  font-size: 18px;
}

.form--modal .form__input--desc {
  margin-bottom: 50px !important;
}

.form__btn--red {
  background: #7A0923;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */