@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  width: 1380px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.first-screen {
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  background: #fff;
  padding: 20px 0;
  width: 100vw;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  border: none;
  background: transparent;
  padding-left: 115px;
}

.header__phone {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.main {
  height: calc(100vh - 79px);
  background: url(../img/bg1.png) no-repeat top/cover;
}

.section__main {
  margin-top: 79px;
}

.main__subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  text-transform: uppercase;
  color: #7A0923;
  max-width: 40%;
}

.main__title {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
}

.main-btn {
  max-width: 484px;
  padding: 45px 38px;
  background: #7A0923;
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.about__text {
  max-width: 75%;
}
/*# sourceMappingURL=style.css.map */