@import 'nullStyle';

.container {
    width: 1380px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
.first-screen {
    height: 100vh;
}
.header {
    position: fixed;
    top: 0;
    background: #fff;
    padding: 20px 0;
    width: 100vw;
    z-index: 10;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger {
    border: none;
    background: transparent;
    padding-left: 96px;
}
.header__phone {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.main {
    height: calc(100vh - 79px);
    background: url(../img/bg1.png) no-repeat top / cover;  
}
.section__main {
    margin-top: 79px;
}
.main__subtitle {
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    color: #7A0923;
    max-width: 40%;
}
.main__title {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: #000000;
}
.main-btn {
    max-width: 484px;
    padding: 45px 38px;
    background: #7A0923;
    border-radius: 20px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__container {
    display: flex;
    justify-content: space-between;
}
.title {
    font-weight: 600;
    font-size: 48px;
}
.text {
    font-weight: 400;
    font-size: 24px;
}
.about__text {
    max-width: 75%;
}
.section {
    padding-top: 60px;
    padding-bottom: 120px;
}
.section__cases {
    margin-top: 60px;
}
.cases__container {
    display: flex;
    flex-direction: column;
}
.cases__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.case {
    width: 49%;
}
.cases__case {
    margin-bottom: 60px;
}
.case__img-block {
    width: 100%;
    position: relative;
}
.case__img {
    width: 100%;
}
.case__title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 118px;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-weight: 600;
    font-size: 24px;
}
.case__link {
    margin-top: 30px;
    display: block;
}
.case__text {
    margin-top: 30px;
}
.text--small {
    font-size: 18px;
}
.font--roboto {
    font-family: 'Roboto', sans-serif;
}
.more-btn__text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin-right: 27px;
}
.more-btn {
    display: flex;
    align-items: center;
    align-self: flex-end;
}